.robotFollower {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease-out;
}

.robotIcon {
  animation: rotateRobot 1s infinite ease-in-out;
}

@keyframes rotateRobot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
